$primary-color: #3498db; // Color principal
$bg-color: #bafffc; //Color Backgroud
$font-stack: 'Arial', sans-serif; // Fuente
$margin-padding: 5px;
$title-size-1: 2.0rem;
$text-size-1: 1.4rem;
$title-size-2: 1.6rem;
$text-size-2: 1.2rem;
$title-size-3: 1.2rem;
$text-size-3: 1.0rem;