// Estilos globales
body {
  background-color: $bg-color; // Color de fondo
  @include margin-padding($margin-padding);
  font-family: $font-stack; // Fuente del cuerpo
  color: #333; // Color del texto

  // Estilo para los encabezados dentro del body
  h1, h2, h3, h4 {
    color: $primary-color; // Color de los encabezados
    @include margin-padding($margin-padding);
  }

  p {
    @include margin-padding($margin-padding);
  }

  // Estilo para los enlaces
  a {
    color: $primary-color; // Color de los enlaces
    text-decoration: none; // Sin subrayado

    // Estilo para el hover
    &:hover {
      text-decoration: underline; // Subrayar en hover
    }
  }

  // Estilo para el contenido principal
  .content {
    @include margin-padding($margin-padding);
    border: 1px solid #ddd; // Borde
    border-radius: 5px; // Esquinas redondeadas
    background-color: #fff; // Color de fondo del contenido
  }

  div {
    text-align: center;
    position: static;
    display: block;
    @include margin-padding($margin-padding);
    border: 1px solid #ddd; // Borde
    border-radius: 5px; // Esquinas redondeadas
  }

  label {
    text-align:center;
  }
}

.home {
  text-align: center;
  display: inline-block;
  &__title {
    font-size: $title-size-1;
  }
  &__text {
    font-size: $text-size-1;
  }

  .section__list {
    display: inline-flex;
    justify-content: space-around;
  }
  .section__item {
    list-style: none;
    max-width: 250px;
    @include margin-padding($margin-padding);
  }
  .section__link {
    text-decoration: none;
  }
  .section__testimonio {
    font-style: oblique;
  }

}

@media (max-width: 1024px) {
  .home__title {
    font-size: $title-size-2;
  }
  .home__text {
    font-size: $text-size-2;
  }
  .section__list {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .home__title {
    font-size: $title-size-3;
  }
  .home__text {
    font-size: 1.0rem;
  }
  .section__list {
    flex-direction: $text-size-3;
  }
}
